<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div>
      <h2><%= blog.title%></h2>
      <div>
        <p><%=blog.snippet%></p>
        <p><%=blog.body%></p>
      </div>
      <a
        data-doc="<%= blog._id %>"
        href=""
        class="delete"
        >delete</a
      >
    </div>
    <script>
      const trashcan = document.querySelector("a.delete");

      trashcan.addEventListener("click", (e) => {
        e.preventDefault();
        const docId = trashcan.dataset.doc;
        console.log("Doc ID: ", docId);
        const endpoint = `/blog/${docId}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            if (data.redirect) {
              window.location.href = data.redirect; // Redirect to new page
            }
          })
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
